body {
    text-align: center;
    font-family: 'Oswald', Tahoma, sans-serif;
    background: url('https://i.imgur.com/PKMRjK9.jpg');
}

h1 {
    color: lightseagreen;
}    

h3 {
    color: lightskyblue;
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}
    

.flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* tells the container to drop down once it reaches max-width */
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}
    
.square {
    background: url('https://i.imgur.com/BVhCmHO.jpg') ;
    border: 2px solid rgba(0, 204, 255, .85);
    border-style: inset;
    border-radius: 10px;
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#reset-button {
    background-color: lightseagreen;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: 2px solid lightskyblue;
    border-style: inset;
    border-radius: 8px;
    height: 55px;
    width: 100px;
    margin: 10px;
}